/*styles go here*/

p {
	color: #7C90DB;
	font-family: "GFS Didot", Helvetica, Arial, sans-serif;
	text-align: center;
}

h1 {
	font-family: "Montserrat", Georgia, Times New Roman, serif;
	color: #7C90DB;
	text-align: center;
}

body {
	background-color: #7C90DB;
}

#container {
	background-color: #ffffff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	list-style-type: none;
	padding: 0;
}

#nav li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display: block;
	color: #ffffff;
	background-color: #736B92;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;    
}

#nav a:hover, a:active {
	background-color: #7C90DB;
}

.caption {
	color: #736B92;
	font-family: Garamond, "Times New Roman", serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align: center;
}

#nav { 
    display: flex;
    flex-flow: column;
    justify-content: auto;
}

#container {
    display: flex;
    flex-flow: column;
}


@media (min-width: 800px) {

  #nav {
    flex-flow: row;
  }

 #container {
  flex-flow: row;

  }


}


@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: e;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}





















