s/*Styles go here*/

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px; 
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
}

.cards li {
    background-color: #f1b82d;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
