.navigation{
  list-style: none;
  background: gray;
  margin:0;
  padding: 0;
  display: flex;
  flex-flow:column;
}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}

.header{
  background: tomato;
}

.footer{
  background: lightgreen;
}

.main{
  text-align: left;
  background: deepskyblue;
}

.aside-1{
  background: gold;
}

.aside-2{
  background: hotpink;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
  max-width: 1600px;
}

.main {
  text-align: left;
}

.header, .main, .aside, .footer {
  flex: 1 100%;
  padding: 10px;
}

/*main styles up here ^^ media queries down here*/

@media (min-width: 800px) {
  
  .navigation {
    flex-flow: row;
    justify-content: flex-end;
  }

  .aside {
    flex: 1 auto;
  }

 .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  footer {
    order: 4;
  }

@media (min-width: 1200px) {

  .first {
    margin-right: auto;
  }

}















